<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Desmond Opoku Anane" />
    

    {%block 'title' %}
    <title>Skimmer Wheels. Car  Service</title>
    {% endblock %}

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet" />

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
  </head>
  <body>
    <!-- {%if messages%}
    {%for message in messages%}
    <div>
      {{message}}
    </div>
    {%end for%}
    {%endif%}
    {% block body %} 
    {% endblock %} -->
  </body>
  {% block footer%}
  <footer>
    <div class="container" id="container">
      <p class="float mb-1">
        powered by <a href="http//:django.com">django</a>
      </p>
      <p class="mb-1">
        AutoCarView- Best place to Sell, Hire and Buy your Cars</p>
        © Copyright {%now 'Y'%}<a href="">AutoCarMax</a>
      </p>
    </div>
  </footer>
  {%endblock%}
</html>
